
*{
    background-color: #171b20;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}
.area-login{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 5px 5px rgb(206, 202, 202);
}
.login h2{
    color: #CBD0F7;
    background-color: #11151a;
}
.login p{
    color: #CBD0F7;
    background-color: #11151a;
}
.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: #11151a;
    width: 355px;
    height: auto;
    padding: 20px 30px;
    
}
.login form{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #11151a;
}
.login form input{
    margin-top: 10px;
}
input{
    background-color: #2f323f;
    margin-top: 10px;
    border: none;
    height: 45px;
    outline: none;
    border-radius: 5px;
    color: #CBD0F7;
    font-size: 14px;
    
}
input::placeholder{
    color: #CBD0F7;
}
input:hover[type="text"] {
    border: 1px solid aqua;
    background-color: #2f323f;
}

form [type="submit"]{
    display: block;
    background-color: #5568FE;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}
input:hover[type="submit"]{
    background-color: #5060d3;
}